body {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
}
.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.header-logo {
  width: 145px;
  height: 31px;
  padding-left: 215px;
  padding-top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.header-nav-list {
  top: 32px;
  display: flex;
  list-style-type: none;
}
.header-nav-studio {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 457px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-nav-portfolio {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.header-nav-contacts {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.header-contacts-list {
  display: flex;
  list-style-type: none;
}
.header-contact-link-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-contact-link-tel {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}
.filters {
  position: absolute;
  width: 700px;
  height: 54px;
  left: 280px;
  top: 92px;
}
.filter-button {
  width: 128px;
  height: 38px;
  left: 576px;

  background: #f5f4fa;
  border-radius: 4px;
}
.filter-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.projects-row-1 {
  width: 370px;
  height: 404px;
  left: 215px;
  margin-top: 182px;
  display: flex;
}

.projects-row-2 {
  width: 370px;
  height: 404px;
  left: 215px;
  margin-top: 3px;
  display: flex;
}
.projects-row-3 {
  width: 370px;
  height: 404px;
  left: 215px;
  margin-top: 3px;
  display: flex;
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.row-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.03em;

  color: #757575;
}

footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}
.footer-logo {
  width: 145px;
  height: 31px;
  padding-left: 215px;
  top: 60px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-address-box {
  padding-left: 215px;
  top: 100px;
  width: 231px;
  height: 92px;
}
.footer-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-contacts-list {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
