/*Variables library*/
:root {
  /*colors*/
  --main-backroung-color: #ffffff;
  --sec-background-color-dark: #2f303a;
  --third-backround-color-gray: #f5f4fa;
  --main-text-color: #212121;
  --sec-text-color-gray: #757575;
  --text-color-white: #ffffff;
  --additional-color: #2196f3;
  /*links and buttons*/
  --cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: var(--main-text-color);
  background: var(--main-backroung-color);
}
a {
  color: var(--main-text-color);
}
a:link {
  text-decoration: none;
}
a:hover {
  color: var(--additional-color);
  text-decoration: underline;
  cursor: var(--cursor);
}
/*Header*/
.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.header-logo-container {
  width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--additional-color);
}
.header-nav-list {
  top: 24px;
  display: flex;
  list-style-type: none;
}
.header-nav-studio {
  position: absolute;
  width: 42px;
  height: 16px;
  top: 32px;
  left: 457px;
  text-decoration: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-nav-portfolio {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.header-nav-contacts {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.header-contacts-list {
  display: flex;
  list-style-type: none;
}
.header-contact-link-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--sec-text-color-gray);
}
.header-contact-link-tel {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--sec-text-color-gray);
}
/* Main-index*/
.title {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--sec-background-color-dark);
}
h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color-white);
}
.button-title {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--additional-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-title:hover {
  background: #188ce8;
  color: var(--text-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-text {
  width: 161px;
  height: 30px;
  left: 720px;
  top: 440px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: inline;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--text-color-white);
}
.group-1 {
  position: absolute;
  width: 1170px;
  height: 95px;
  left: 215px;
  top: 774px;
}
.group-1-header {
  width: 270px;
  height: 15.05px;
  left: 215px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}
.group-1-list {
  position: absolute;
  display: flex;
  list-style-type: none;
}
.group-1-content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--sec-text-color-gray);
}

.what-we-do {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.what-we-do-header {
  position: absolute;
  width: 199px;
  height: 42px;
  left: 486px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.what-we-do-list {
  display: flex;
  padding-top: 92px;
  list-style: none;
}
.what-we-do-list-element {
  margin-left: 15px;
  margin-right: 15px;
}
.our-team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: var(--third-backround-color-gray);
}
.our-team-header {
  position: absolute;
  width: 165px;
  height: 42px;
  left: 718px;
  top: 94px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.our-team-list {
  text-align: center;
  position: absolute;
  width: 1170px;
  height: 368px;
  left: 155px;
  top: 186px;
  display: flex;
  list-style-type: none;
}
.team-cards {
  width: 270px;
  height: 368px;

  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.86;
  background: var(--main-backroung-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-names {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--sec-text-color-gray);
  text-align: center;
  letter-spacing: 0.03em;
}
/*Main-portfolio*/
.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}
.filters {
  position: absolute;
  width: 700px;
  height: 54px;
  left: 280px;
  top: 92px;
}
.filter-button {
  width: 128px;
  height: 38px;
  left: 576px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

  background: var(--main-backroung-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover {
  background: var(--additional-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color-white);
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.projects-row-1 {
  width: 370px;
  height: 404px;
  left: 215px;
  margin-top: 182px;
  display: flex;
}

.projects-row-2 {
  width: 370px;
  height: 404px;
  left: 215px;
  margin-top: 30px;
  display: flex;
}
.projects-row-3 {
  width: 370px;
  height: 404px;
  left: 215px;
  margin-top: 30px;
  display: flex;
}
.project-button {
  background: var(--main-backroung-color);
  border: 1px solid #eeeeee;
  cursor: var(--cursor);
}
.row-title {
  width: 322px;
  height: 70px;
  left: 239px;
  margin-top: 20px;
  margin-bottom: 0px;
}
h4 {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-text-color);
}
.row-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-top: 4px;

  color: var(--sec-text-color-gray);
}

.project-button {
  margin-left: 15px;
  margin-right: 15px;
}
/*Footer*/
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: var(--sec-background-color-dark);
}
.footer-logo {
  width: 145px;
  height: 31px;
  padding-left: 215px;
  top: 60px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--additional-color);
}

.footer-address-box {
  padding-left: 215px;
  top: 100px;
  width: 231px;
  height: 92px;
}
.footer-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--text-color-white);
}
.footer-contacts-list {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
